/*********************************************************
  // global color variables
**********************************************************/
/*********************************************************
  // Font variables
**********************************************************/
/*********************************************************
  // spacing variables
**********************************************************/
/*********************************************************
  // screens
**********************************************************/
/* Main properties that control the layout direction are:
-----------------------------------------------
- Direction (LTR/RTL)
- Float (left/right)
- Margin 
- Padding
- Absolute position (left/right)
- Background position (left/right)
- Border
- Border radious
- Note: "Think about flexbox properties"
*/
/* Clearfix */
/* Direction */
/* Float */
/* Margin */
/* Padding */
/* Left And Right For Absolute Position */
/* Border */
/* d-f-center */
/* d-f-between */
/* Circle */
/* Overlay */
/* Grid */
/* translate */
/* CSS File */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
  border: 0;
  margin: 0;
  outline: 0;
  line-height: initial;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #4293b5;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
  padding-top: 145px;
}
html[lang=en] body {
  direction: ltr;
  text-align: left;
}
html[lang=ar] body {
  direction: rtl;
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  font-size: 15px;
}
html[lang=en] input {
  direction: ltr;
}
html[lang=ar] input {
  direction: rtl;
}
input::-moz-placeholder {
  color: #4293b5;
  font-size: 13px;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input::placeholder {
  color: #4293b5;
  font-size: 13px;
  transition: all 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 13px;
  color: #8f5969;
}

textarea {
  resize: none;
}

i {
  line-height: initial;
}
html[lang=en] i.fa-arrow-left-long {
  transform: scaleX(-1);
}
html[lang=en] i.fa-arrow-right-long {
  transform: scaleX(-1);
}

p {
  color: #8f5969;
  margin: 0;
  font-size: 1em;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

*::-moz-placeholder {
  color: #adabab;
  font-size: 13px;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

*::placeholder {
  color: #adabab;
  font-size: 13px;
  transition: all 0.3s ease;
}

form {
  padding: 0;
}
html[lang=en] form {
  text-align: left;
}
html[lang=ar] form {
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #4293b5;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.owl-carousel {
  touch-action: manipulation;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

button,
input[type=submit] {
  cursor: pointer;
}

button,
a {
  transition: all 0.3s ease;
}

select:focus,
button:focus,
input:focus {
  outline: 0;
}

/* owl carousel*/
.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
  touch-action: auto;
}

/* owl carousel*/
@media (min-width: 1720px) {
  .container {
    max-width: 1418px;
  }
}
.page_content {
  width: calc(100% - 480px);
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .page_content {
    width: 100%;
    padding: 20px 10px 0;
  }
}

.main_line {
  height: 1px;
  background-color: #caa5af;
  width: calc(100% - 540px);
  margin: 25px auto;
}
@media screen and (max-width: 992px) {
  .main_line {
    width: 100%;
  }
}

.open_btn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 15px;
  display: none;
}
@media screen and (max-width: 992px) {
  .open_btn {
    display: flex;
  }
}
.open_btn.open_right {
  background-color: #891538;
  color: #fff;
}
.open_btn.open_left {
  background-color: #f5f4f1;
  color: #202020;
}

.overlay-m {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1030;
}

/***************** Start Owl Dots ***************/
.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: auto;
  gap: 7px;
  width: 100%;
  margin-top: 20px;
}
.owl-dots .owl-dot {
  width: 20px;
  height: 2px;
  background-color: #E6E6E6 !important;
}
@media screen and (max-width: 768px) {
  .owl-dots .owl-dot {
    width: 15px;
  }
}
.owl-dots .owl-dot.active {
  opacity: 1;
  background-color: #8f5969 !important;
}

/***************** End Owl Dots ***************/
/***************** Start Owl Nav ***************/
.owl-nav {
  position: absolute;
  bottom: -11px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}
.owl-nav .owl-next,
.owl-nav .owl-prev {
  font-size: 16px !important;
  color: #969696 !important;
}

/***************** End Owl Nav ***************/
/***************** Start Section Header ***************/
.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
.section_header .title {
  font-size: 20px;
  color: #4293b5;
  font-weight: 600;
  align-self: auto;
}
@media screen and (max-width: 576px) {
  .section_header .title {
    font-size: 16px;
  }
}
.section_header .select_head {
  position: relative;
}
.section_header .select_head .select_h {
  height: 44px;
  border-radius: 12px;
  border: 1px rgba(162, 148, 117, 0.2) solid;
  padding: 12px;
  width: 160px;
  color: #4293b5;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}
.section_header .select_head .main-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #4293b5;
  font-size: 13px;
  cursor: pointer;
  pointer-events: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  max-width: 18px;
}
html[lang=en] .section_header .select_head .main-icon {
  right: 14px;
}
html[lang=ar] .section_header .select_head .main-icon {
  left: 14px;
}

/***************** End Section Header ***************/
/***************** Start slider_img Section ***************/
.slider_img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
@media screen and (max-width: 992px) {
  .slider_img {
    height: 240px;
    border-radius: 10px;
  }
}

/***************** End slider_img Section ***************//*# sourceMappingURL=banner.css.map */