@import "../assets/css/sass/_variables.scss", "../assets/css/sass/mixins.scss",
  "../assets/css/sass/_global.scss";

/***************** Start topics card ***************/
.topics_card {
  border-radius: 20px;
  overflow: hidden;
  background-color: $white;
  border: 1px solid #e4e5e7;
  position: relative;

  .card_hint {
    position: absolute;
    top: 15px;
    @include dir-left(15px);
    padding: 7px 12px;
    @include center;
    gap: 7px;
    font-size: 15px;
    background-color: $main;
    color: $white;
    border-radius: 15px;
    z-index: 5;

    i {
      font-size: 12px;
    }
  }

  .img {
    overflow: hidden;

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      transition: $main-transition;
    }
  }

  .topics_body {
    padding: 15px;

    .card_date {
      font-size: 15px !important;
      color: $dark;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .head {
      font-size: 18px;
      color: $black;
      margin-bottom: 10px;
      font-weight: 700;
    }

    .desc {
      font-size: 15px;
      // line-height: 1.7;
      color: $black;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &.active {
    padding: 20px;
    border-radius: 25px;

    .img {
      border-radius: 15px;
    }

    .topics_body {
      padding: 0;
      padding-top: 15px;
    }
  }

  &:hover {
    .img {
      img {
        transform: scale(1.1) rotate(-3deg);
      }
    }
  }
}

/***************** End topics card ***************/
