/* CSS File */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  border: 0;
  margin: 0;
  outline: 0;
  line-height: initial;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: $main;
}

body {
  overflow-x: hidden;
  background-color: $white;
  position: relative;
  padding-top: 145px;

  #{$ltr} & {
    direction: ltr;
    text-align: left;
  }
  #{$rtl} & {
    direction: rtl;
    text-align: right;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  #{$ltr} & {
    direction: ltr;
  }
  #{$rtl} & {
    direction: rtl;
  }

  font-size: 15px;

  &::placeholder {
    color: $main;
    font-size: 13px;
    transition: $main-transition;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

select {
  appearance: none;
  font-size: 13px;
  color: $dark;
}

textarea {
  resize: none;
}

i {
  line-height: initial;

  &.fa-arrow-left-long {
    #{$ltr} & {
      transform: scaleX(-1);
    }
  }

  &.fa-arrow-right-long {
    #{$ltr} & {
      transform: scaleX(-1);
    }
  }
}

p {
  color: $dark;
  margin: 0;
  font-size: 1em;
  // font-family: fontReg;
}
input:focus::placeholder {
  color: transparent;
}
*::placeholder {
  color: $placholder-color;
  // font-weight: fontMed;
  font-size: 13px;
  // font-weight: 500;
  transition: $main-transition;
}
form {
  padding: 0;
  #{$ltr} & {
    text-align: left;
  }
  #{$rtl} & {
    text-align: right;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $main;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.owl-carousel {
  touch-action: manipulation;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
button,
input[type="submit"] {
  cursor: pointer;
}
button,
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
select:focus,
button:focus,
input:focus {
  outline: 0;
}
/* owl carousel*/

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: auto;
  touch-action: auto;
}
/* owl carousel*/

@media (min-width: $screen-xxl) {
  .container {
    max-width: 1418px;
  }
}

.page_content {
  width: calc(100% - 480px);
  padding: 0 30px ;
  margin: 0 auto;

  @media screen and (max-width: $screen-lg) {
    width: 100%;
    padding: 20px 10px 0;
  }
}

.main_line {
  height: 1px;
  background-color: #caa5af;
  width: calc(100% - 540px);
  margin: 25px auto;

  @media screen and (max-width: $screen-lg) {
    width: 100%;
  }
}

.open_btn {
  width: 44px;
  height: 44px;
  @include center;
  font-size: 17px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 15px;
  display: none;

  @media screen and (max-width: $screen-lg) {
    display: flex;
  }

  &.open_right {
    background-color: $sec;
    color: $white;
  }

  &.open_left {
    background-color: #f5f4f1;
    color: $black;
  }
}

.overlay-m {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: none;
  z-index: 1030;
}


/***************** Start Owl Dots ***************/

.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content !important;
  margin: auto;
  gap: 7px;
  width: 100%;
  margin-top: 20px;

  .owl-dot {
    width: 20px;
    height: 2px;
    background-color: $white2 !important;

    @media screen and (max-width: $screen-md) {
      width: 15px;
    }

    &.active {
      opacity: 1;
      background-color: $dark !important;
    }
  }
}

/***************** End Owl Dots ***************/

/***************** Start Owl Nav ***************/
.owl-nav {
  position: absolute;
  bottom: -11px;
  // width: 200px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  .owl-next,
  .owl-prev {
    font-size: 16px !important;
    color: #969696 !important;
  }
}
/***************** End Owl Nav ***************/

/***************** Start Section Header ***************/

.section_header {
  @include between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;

  .title {
    font-size: 20px;
    color: $main;
    font-weight: 600;
    align-self: auto;

    @media screen and (max-width: $screen-sm) {
      font-size: 16px;
    }
  }

  .select_head {
    position: relative;

    .select_h {
      height: 44px;
      border-radius: 12px;
      border: 1px rgba(162, 148, 117, 0.2) solid;
      padding: 12px;
      width: 160px;
      color: $main;
      cursor: pointer;
      font-weight: 600;
      font-size: 13px;
    }

    .main-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include dir-right(14px);
      color: $main;
      font-size: 13px;
      cursor: pointer;
      pointer-events: none;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      max-width: 18px;
    }
  }
}

/***************** End Section Header ***************/