@import "../assets/css/sass/_variables.scss", "../assets/css/sass/mixins.scss",
  "../assets/css/sass/_global.scss";

/******************* Start Right_sidebar ********************/
.right_sidebar {
  width: 240px;
  background-color: $sec;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  padding: 40px 0;
  transition: all 0.8s cubic-bezier(0.68, -0.3, 0.265, 1.3);
  height: 100%;
  overflow-y: auto;
  position: fixed;
  @include dir-left(0);
  top: 113px;
  padding-bottom: 120px;

  @media screen and (max-width: $screen-lg) {
    position: fixed;
    top: 0;
    @include dir-left(0);
    z-index: 2000;
    #{$ltr} & {
      transform: translateX(-150%);
    }
    #{$rtl} & {
      transform: translateX(150%);
    }

    &.active {
      transform: translateX(0) !important;
    }

    overflow-y: auto;
    overflow-x: clip;
  }

  .links {
    .link {
      font-size: 15px;
      color: $white;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 5px 10px;
      @include dir-padding-left(25px);
      margin-bottom: 12px;
      position: relative;
      transition: $main-transition;

      &::after {
        position: absolute;
        content: "";
        @include dir-left(0);
        background-color: #fef3a0;
        z-index: 2;
        height: 100%;
        width: 4px;
        opacity: 0;
        transition: $main-transition;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.active,
      &:hover {
        color: #fef3a0;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}
/******************* End Right_sidebar ********************/
